/* You can add global styles to this file, and also import other style files */

.spinner-loading{
    color: white;
    padding-top: 50px;
    opacity: 0.7;
}

.loading-text{
    width: 100%;
    text-align: center;
}
